@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    box-sizing: border-box;
    margin: 0 ;
    padding: 0;
}
body{
    font-family: "Merriweather", serif;
    font-family: "Inter", sans-serif;
}
.hero{
    font-family: "Merriweather", serif;
    background-image:linear-gradient(180.00deg, rgba(6, 2, 15, 0.89),rgba(7, 2, 17, 0) 100%), url(../images/Banner\ Image.png);
    border-radius: 16px;
    width:90%;
    margin: 50px auto;
    height: 100vh;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;
    align-items: center;
    object-fit:cover ;

 
  

}
.header_content{
    text-align: center;
   
    color: white;
    max-width: 500px;
    
}
.header_content .head_2{
    font-size: 61px;
}
.header_content .head_1{
    font-size: 20px;
    line-height: 40px;
    font-weight: 500;
}
 .main_part  {
    width:90%;
    margin: 50px auto;
    
}
.sec_1{
    text-align: center;
    width: 80%;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}
h1.h1_sec_1{
    color: red;
    font-size: 60px;
    padding: 10px 20px;
    font-family: "Inter", sans-serif;
    
}
.p_sec_1{


    font-family: "Inter", sans-serif;
    color: red;
    font-size: 14px;
    font-weight: 600;
    line-height: 40px;
}
.h2_sec_1{
    font-family: "Inter", sans-serif;
    padding-bottom: 30px; 
}
.img_sec{
    text-align: center;

}
.celebration{ font-family: "Merriweather", serif;
    width:100%;
    margin: 50px auto;
height: 100vh;
background-image:linear-gradient(90.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0.356) 100%), url(../images/Vectorrr.png);



background-position:center;
background-size:cover ;
display: flex;
justify-content: center;
background-repeat: no-repeat;
align-items: center;
border-radius: 16px;
border-radius: 16px;


object-fit:cover ;}
.celebration{
    display: flex;
    gap: 50px;
    justify-content:center;
  
    /* margin: 50px auto; */
    flex-wrap: wrap;
    /* margin: 10px auto; */
   

}
.celebration_left_child{
  
    color: white;
    flex-basis: 50%;
}
.clebration_right_child{

}
.cele_h1_sec{
    color: rgb(255, 255, 255);
font-family: Merriweather;
font-size: 50px;
font-weight: 900;
line-height: 88px;
letter-spacing: 11%;
text-align: left;
padding: 20px 0px;


}
.cele_sec_p{

    color: rgba(255, 255, 255, 0.8);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
}
.cele_btn{

    background-color: transparent;
    border-style: none;
    color: rgb(255, 255, 255);
    padding: 20px 15px;
    cursor: pointer;
}

.personal_info{ border-radius: 16px;

    background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1),rgba(255, 0, 0, 0) 100%);
    text-align:center;
    padding: 100px 300px;
    margin: 30px 0px;

}
.info{
    font-family: Inter;
font-size: 22px;
font-weight: 600;
line-height: 56px;
letter-spacing: 0%;
text-align: center;
text-transform: capitalize;

}
.info strong{
    color: rgb(255, 0, 0);
}
.info_btn{
    background-color: rgb(255, 0, 0);
    border-style: none;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    margin-top: 25px;
}
.offer_sec{
    display: flex;
    justify-content: space-between;
    margin: 30px 0px;
    align-items: center;
}
.offer_child_1 {
    flex-basis: 27%;
}
.offer_child_2  img{
    flex-basis: 30%;
    box-sizing: border-box;
border: 15px solid rgb(255, 0, 0);
border-radius: 50%;
padding: 20px;
text-align: center;
}
.offer_child_3 {
    flex-basis: 25%;
}
.h4_sec_offer{ color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 17px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0%;
    /* text-align: center; */
}
.h1_sec_offer{
        color: rgb(7, 2, 17);
font-family: Merriweather;
font-size:30px;
font-weight: 900;
line-height: 60px;
letter-spacing: 0%;
text-align: left;
text-transform: capitalize;
    }
.p_sec_offer{
    color: rgba(7, 2, 17, 0.6);
font-family: Inter;
font-size: 17px;
font-weight: 400;
line-height: 32px;
letter-spacing: 0%;
text-align: left;
}
.last_se_h1{
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 30px;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: 0%;
    text-align: left;
}
.last_se_p{
    color: rgba(7, 2, 17, 0.6);
font-family: Inter;
font-size: 18px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0%;
text-align: left;


}
.offer_child_3{
margin-right: 0px;
text-align: left;
padding-left: 50px;

}
.img_last_se{
padding-top: 30px;
}
.child_bottom_discount{

    background-size: cover;
background-position: bottom,top ,center;
}
.child_top_discount{
    margin: 60px 120px;
    padding: 100px 20px;
    text-align: center;
    margin-bottom: 100px;
}
.dicount_p{
    color: rgb(7, 2, 17);
font-family: Inter;
font-size: 20px;
font-weight: 500;
line-height: 29px;
letter-spacing: 0%;

}
.discount_h1{
    font-family: Merriweather;
font-size:40px;
font-weight: 900;
line-height: 91px;
letter-spacing: 0%;
text-align: center;
}
.sec_discout_p2{
    color: rgba(7, 2, 17, 0.6);
font-family: Inter;
font-size: 20px;
font-weight: 500;
line-height: 32px;
letter-spacing: 0%;
text-align: center;
padding: 5px 20px;
}
.disspan{
 color: rgb(255, 0, 0)
}

.child_bottom_discount{
  background-image:url('../images/Rectangle\ 2.png');
  background-size: 100%;
  width: 100%;
  background-position: center;
  height: 150px;
  display: flex;
  background-repeat: no-repeat;
margin-top: 200px;
border-radius: 16px 0px 16px 16px;

background: rgb(255, 0, 0);
justify-content: space-between;
align-items: flex-start;
position: relative;
/* margin-top:150px */
}
._img_fi {
position: absolute;
top: -183px;
left: 80px;





}


.sec_img {
    position: absolute;
  top: -240px;
   right: 40px;
    
    }
.cart_section{
    margin-top: 100px;
}
.car_sec_h4{
    color: rgb(255, 0, 0);
font-family: Inter;
font-size: 16px;
font-weight: 500;
line-height: 29px;
letter-spacing: 0%;
text-align: left;
}
.car_sec_h1{
    color: rgb(7, 2, 17);
    font-family: Merriweather;
    font-size: 30px;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: capitalize;
}
.car_sse_p{
    color: rgba(7, 2, 17, 0.6);
font-family: Inter;
font-size: 16px;
font-weight: 400;
line-height: 32px;
letter-spacing: 0%;
text-align: left;
max-width: 700px;
margin-bottom: 30px;
}
.card_parent{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}
.card_child img{
flex-basis: 305;
width: 350px;
/* height: 450px; */
padding: 10px 0px;
}
.web_info{

    border-radius: 16px;

background: rgba(255, 0, 0, 0.05);
text-align: center;

margin: 40px 0px;

}
.info_div{
    padding: 40px 10px;
    width: 600px;
    margin: 20px auto;
}
.info_img{
    width: 120px;
    /* height: 50px; */
    padding-bottom: 30px;
}
.info_h1{
    color: rgb(7, 2, 17);
font-family: Merriweather;
font-size: 30px;
font-weight: 900;
line-height: 40px;
letter-spacing: 0%;
text-align: center;
text-transform: capitalize;
padding-bottom: 20px;
}
.info_p1{
    color: rgba(7, 2, 17, 0.6);
font-family: Inter;
font-size: 15px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0%;
text-align: center;
}
.btn_info_box{
    width: 500px;
    margin: 10px auto;font-size:13px;
    
}
.info_input{
    border-style: none;
    padding: 10px 30px;
    border-radius:  20px 0px 0px 20px;
    outline-style: none;
}
.info_bbtn{
    border-radius:  0px 20px 20px 0px;
    border-style: none;
    cursor: pointer;
  
    color: rgb(255, 255, 255);
font-family: Inter;

font-weight: 600;


text-align: center;
text-transform: capitalize;
}
.footer_con{
    background: rgb(7, 2, 17);
    color: rgb(255, 255, 255);
}
.Footer_fi_div{
    display: flex;
     justify-content: space-around;
     
}
.footer_main_div  {
    width:90%;
    margin: 70px;
    
}
.footer_main_div{

    padding:80px  0px;
}

.fo_P{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 16px;
font-weight: 500;
line-height: 40px;
letter-spacing: 0%;
text-align: left;
/* background-color: yellow; */
}
.socal_log{
    text-align: center;
    margin-top: 70px;
}
.socal_log ul{
    list-style: none;
}
.socal_log ul li{
    display: inline-block;
    padding: 10px;
}
.socal_log ul li a img{
    width: 30px;
    height: 31px;
    /* padding: 20px; */
}
.last_footer_div{
    display: flex;
    justify-content: space-between;
    padding: 40px 10px;
}
.icon_img{
    width: 24px;
    height: 24px;
    /* padding-top: 10px; */
    margin-top: 10px;
    /* background-color: red; */
  text-align: center;
}